<p id="notice"><%= notice %></p>

<%= render :partial => @post %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>

<h2>
   Comments
</h2>

<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<%= form_for [@post, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "New comment" %>
    <br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Add comment" %>
  </p>
<% end %>